* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.8s;
}
body {
  overflow-x: hidden !important;
  background-color: #d3d3d36e;
}
img {
  width: 100% !important;
}
p {
  font-size: 13px;
  line-height: 18px;
}

a {
  text-decoration: none !important;
  color: #fff !important;
  font-size: 14px;
  padding: 8px;
}
a:hover,
a:focus,
a:active {
  background-color: #1f273a !important;
  border: 1px solid #fff;
  color: #fff;
}
ul {
  padding: 0 !important;
  list-style: none;
}
button {
  border: none;
  outline: none;
  background: #1c1c38;
  color: #fff;
  padding: 9px 10px;
  border-radius: 7px !important;
  font-size: 13px !important;
}
